[submodule "third_party/whisper.cpp"]
	path = third_party/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "third_party/piper"]
	path = third_party/piper
	url = https://github.com/rhasspy/piper.git
[submodule "third_party/paroli-daemon"]
	path = third_party/paroli-daemon
	url = https://github.com/AmrMantawi/paroli-daemon.git
[submodule "third_party/rknn-llm"]
	path = third_party/rknn-llm
	url = https://github.com/airockchip/rknn-llm.git
[submodule "third_party/sherpa-onnx"]
	path = third_party/sherpa-onnx
	url = https://github.com/k2-fsa/sherpa-onnx.git
[submodule "third_party/purecpp-lite"]
	path = third_party/purecpp-lite
	url = https://github.com/AmrMantawi/purecpp-lite.git
